requests~=2.26.0
pandas~=1.3.4
spacy>=3.1.0,<3.2.0
spacy-transformers
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.1.0/en_core_web_md-3.1.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.1.0/en_core_web_trf-3.1.0.tar.gz
wordcloud
jupyter
